################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PTestApp/.vs
/PTestApp/bin/Debug/net8.0-windows
/PTestApp/obj
/.vs
